#section_destaque {
    background-color: #FAFAFA;
    width: 100%;
    max-width: 100%;
    height: 890px;
    text-align: center;
    overflow-x: hidden;
    padding: 0 10px;
    box-sizing: border-box;
}
#section_destaque h1{
    margin-top: 60px;
    font-size: 65px;
    font-family: "Great Vibes", cursive;
    color: #7A6962;
}

#section_destaque p{
    font-size: 24px;
}

#card_produto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: auto;
    margin: auto;
    margin-top: 70px;

}



@media (max-width: 1300px) {
    #section_destaque {
        height: auto;
        min-height: 2200px;
        padding-bottom: 40px;
    }
    #card_produto {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}